.footer__column-link {
  text-decoration: none;
  color: #fff;
  margin: 0;
  line-height: 18px;
  font-size: 18px;
  font-weight: 400;
  display: block;
  padding-bottom: 6px;
  transition: opacity .2s ease-in-out;
}

.footer__column-link:hover {
  opacity: .65;
}