.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url(../../../images/triangle.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: -210px;
  animation: rotation 30s linear infinite;
  z-index: -1;
}